.intro{
    display: inline-flexbox;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    color: #F2E9DC;
    background: #181513;
}

.intro-name{
    padding-top: 8rem;
    padding-left: 3rem;
    margin-bottom: 10px;
    width: 50vw;
    height: 2rem;
}

.intro-description{
    padding-left: 3rem;
    margin-top: 0%;
    width: 50vw;
    height: 2rem;
}